[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pyaudio-win = {file = "https://download.lfd.uci.edu/pythonlibs/archived/PyAudio-0.2.11-cp310-cp310-win_amd64.whl", sys_platform = "== 'win32'"}
pyaudio = {version = "==0.2.13", sys_platform = "!= 'win32'"}
pyserial = "*"
numpy = "*"
matplotlib = "*"
keyboard = "*"
matplot = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
